<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant:wght@300&family=Inconsolata&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header id="main">
        <div class="navBar">
            <div class="logo">
                <img src="/static/img/Component 2.png" alt="">
            </div>
            <div class="navinfo">
                <ul>
                    <li>
                        <a href="#main">Главная</a>
                    </li>
                    <li>
                        <a href="#ourS">наши услуги</a>
                    </li>
                    <li>
                        <a href="#Slogin">заявка</a>
                    </li>
                    <li>
                        <a href="#">ENG</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="headerContent">
            <img id="arnament" src="/static/img/IMG_2856 2.png" alt="">
            <div class="back">
                <img src="/static/img/IMG_2854 1.png" alt="">
            </div>
            <div class="contentHead">
                <div class="headText">
                    <img src="/static/img/Component 1.png" alt="">
                    <p>
                        Duis tellus diam, feugiat <br> eu lectus et, ullamcorper <br> ullamcorper.
                    </p>
                </div>
            </div>
            
        </div>
    </header>
    <div class="subtitle">
        <div class="sexySection">
            <img src="/static/img/Group 14.png" alt="">
            <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br> Mauris mattis odio eu felis commodo.
            </p>
            <img src="/static/img/Group 14.png" alt="">
        </div>
    </div>
    <section class="ourS" id="ourS">
        <div class="div1">
            <div class="titleS">
                <h1>Our Services</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Phasellus sed <br> massa Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br> Phasellus sed massa.    
                </p>
            </div>
        </div>
        <div class="div2">
            <div class="inDiv2">
                <img src="/static/img/image 18.png" alt="">
                <div class="text">
                    <h3>360° Video</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit.  Phasellus sed massaLorem <br> ipsum dolor sit amet, consectetur adipiscing <br> elit.  Phasellus sed massa.Lorem  ipsum dolor <br> sit amet, consectetur adipiscing elit. <br>  Phasellus sed massa.
                    </p>
                </div>
            </div>
        </div>
        <img class="arnS" src="/static/img/Group 18.png" alt="">
        <div class="div2">
            <div class="inDiv2">
                <div class="text">
                    <h3>Virturuu Ethnics</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit.  Phasellus sed massaLorem <br> ipsum dolor sit amet, consectetur adipiscing <br> elit.  Phasellus sed massa.Lorem  ipsum dolor <br> sit amet, consectetur adipiscing elit. <br>  Phasellus sed massa.
                    </p>
                </div>
                <img id="rotateShadow" src="/static/img/image 17.png" alt="">
            </div>
        </div>
        <img class="arnS" src="/static/img/Group 18.png" alt="">
        <div class="div2">
            <div class="inDiv2">
                <img src="/static/img/image 16.png" alt="">
                <div class="text">
                    <h3>360° Video</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit.  Phasellus sed massaLorem <br> ipsum dolor sit amet, consectetur adipiscing <br> elit.  Phasellus sed massa.Lorem  ipsum dolor <br> sit amet, consectetur adipiscing elit. <br>  Phasellus sed massa.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="ourTeam" id="satan">
        <div class="ourTitle">
            <h1>
                our team
            </h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed <br> massa Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br> Phasellus    sed massa.
            </p>
            <img src="/static/img/IMG_2850 2.png" alt="">
        </div>
        <div class="members">
            <div class="satana">
                <div id="firstM" class="mem">
                    <div class="blabla">
                        <h1>IT-BLABLA</h1>
                        <hr>
                        <p>
                            Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit. <br>  Phasellus sed massa.Lorem <br> ipsum dolor sit amet, <br> consectetur adipiscing elit. <br>  Phasellus sed massa.
                        </p>
                    </div>
                    <img class="iconM" src="/static/img/Group 26.png" alt="">
                </div>
                <div id="secondM" class="mem">
                    <img class="iconM" src="/static/img/Group 26.png" alt="">
                </div>
                <div id="thirdM" class="mem">
                    <img class="iconM" src="/static/img/Group 26.png" alt="">
                </div>
                <div id="moreM" class="mem">
                    <div class="FIO">
                        <div class="photo">
                            <div class="ramka">

                            </div>
                            <h3>
                                NAME <br> SURNAME
                            </h3>
                        </div>
                    </div>
                    <div class="FIO">
                        <div class="photo">
                            <div class="ramka">

                            </div>
                            <h3>    
                                NAME <br> SURNAME
                            </h3>
                        </div>
                    </div>
                    <div class="FIO">
                        <div class="photo">
                            <div class="ramka">

                            </div>
                            <h3>
                                NAME <br> SURNAME
                            </h3>
                        </div>
                    </div>
                    <img id="dlinyiArnament" src="/static/img/Group 28.png" alt="">
                </div>
                <div id="wtf" class="mem"></div>
            </div>
        </div>
    </section>
    <section class="login" id="Slogin">
        <div class="Slogin">
            <div class="left">
                <div class="borderText">
                    <h2>
                        Lorem ipsum <br> dolor sit amet, <br> consectetur <br> adipiscing elit. <br>  Phasellus sed <br> massa.
                    </h2>
                </div>
            </div>
            <div class="right">
                <div class="form">
                    <h3>application form</h3>
                    <form action="">
                        <input type="text" value="lorem impus">
                        <input type="text" value="lorem impus">
                        <input type="text" value="lorem impus">
                        <input type="text" value="lorem impus">
                        <input type="text" value="lorem impus">
                    </form>
                    <a class="buttonF" href="#">place an <br> order</a>
                    <img id="f" src="/static/img/IMG_2852 2.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="podval">
            <img src="/static/img/image 1.png" alt="">
            <hr id="logo">
            <div class="podvalCont">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <h5>lorem ipsum lorem ipsum</h5>
            <p>lorem ipsum lorem ipsum</p>
        </div>
    </footer>
</body>
</html>